
.list-cell {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color:rgb(218,218,218);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:rgb(218,218,218);
    -fx-text-fill:rgb(0,0,0);
}
